:root {
    --cv-black: #0a0516;
    --cv-blue: #1e5da5;
    --cv-gray: #a2a2a2;
    --cv-violet: #5c4380;
    --near-white: #d5d5d5;
    --transparent-blue: rgba(30, 93, 165, 0.5);
    --transparent-violet: rgba(92, 67, 128, 0.5);
    --transparent-white: rgba(255, 255, 255, 0.8);

    --ring-radius: 200px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: gray;
    min-height: 100vh;
    margin: 0; padding: 0;
}

pre {
    width: 700px;
    border: 5px solid transparent;
    border-image: linear-gradient(to left top, var(--cv-blue) 10%,  transparent 30%, transparent 70%, var(--cv-violet) 90%) 1;
    display: flex;
    justify-content: center;
}

.bold-text {
    font-weight: bold;
}

.white-text {
    color: var(--near-white);
}

.for_surname {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    color: var(--cv-blue);
}

.for_name {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 30px 0;
    color: var(--cv-violet);
}

.for_position {
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}


.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    background: var(--cv-black) url(assets/img/bg-stars.png) fixed calc(50%) 0
}

.footer-center-div {
    width: 60%;
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.cv-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 14px 0;
    margin-top: 24px;
    border-top: 2px solid var(--cv-blue);
    border-image: linear-gradient(to right top, var(--cv-violet), var(--cv-blue), var(--cv-violet)) 1;
}

.cv-header {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cv-main {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.main-section {
    padding: 0 20px 20px 20px;
    width: 100%;
}

.main-section-label {
    font-weight: bold;
    font-size: 24px;
    color: var(--near-white);
    margin: 0;
    padding: 0;
    line-height: 1;
}

.about-section-label {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.label-background {
    background-color: var(--transparent-blue);
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.github-image {
    width: 30px;
    height: 30px;
}

.rs-image {
    height: 60px;
}

.cv-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -5px 5px 10px 5px var(--cv-blue),
                5px -5px 10px 5px var(--cv-violet);
}

.about-section {
    position: relative;
    overflow: visible;
    border-radius: 40px;
    background-color: var(--transparent-violet);
    margin-top: 20px;
    padding: 20px 20px 0 20px;
}

.about-content-wrapper {
    position: relative;
    float: right;
    margin: -250px 20px 20px 20px;
}

.about-text {
    color: var(--cv-gray);
}

.social-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    list-style: none;
}

.social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    pointer-events: auto;
    transition: transform 0.3s ease;
}

.telegram-icon {
    transform: translate(130px);
}
.telegram-icon:hover {
    content: url("assets/contacts/telegram_blue.png");
}

.linkedin-icon {
    transform: rotate(24deg) translate(120px) rotate(-24deg);
}
.linkedin-icon:hover {
    content: url("assets/contacts/linkedin_blue.png");
}

.email-icon {
    transform: rotate(51deg) translate(110px) rotate(-51deg);
}
.email-icon:hover {
    content: url("assets/contacts/new-message_blue.png");
}

.nav {
    width: 100%;
    margin: 20px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav-link {
    color: var(--cv-blue);
    text-decoration: none;
    transition: color 0.5s;
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    padding: 0 20px;
}

.nav-link:hover {
    color: var(--cv-violet);
}

.nav-item {
    border-bottom: 2px solid transparent;
    transition: border 1s ease;
}

.nav-item:hover {
    border-bottom: 2px solid var(--cv-violet);
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0;
}

.skills-list li {
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    color: var(--cv-violet);
    display: flex;
    flex-direction: column;
}

.dotted-list {
    padding-bottom: 30px;
    padding-left: 0;
}

.dotted-list li {
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-image: url("assets/lists/marker.png");
    list-style: none;
    margin: 0;
    padding-left: 21px;
    font-weight: normal;
    font-size: 18px;
    color: gray;
}

.skill-list-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.hidden-link {
    text-decoration: none;
    color: gray;
}
.hidden-link:hover {
    color: var(--cv-blue);
}

.project-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.code-div {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 40px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.project-container:hover .image-overlay {
    background-color: rgba(255, 255, 255, 0.7);
}

.project-container {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 50px;
    vertical-align: top;
    width: 30%;
    height: 170px;
}

.project-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 2s ease;
}

.project-container:hover .project-image {
    transform: scale(1.4);
}

.go-to-code-button {
    padding: 10px 20px;
    color: white;
    background-color: var(--cv-blue);
    border: none;
    border-radius: 20px;
    opacity: 0;
    transition: all 2s ease;
    font-size: 24px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

.project-container:hover span {
    opacity: 1;
    transform: translateY(0);
}

.progress-container {
    width: 80%;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: var(--cv-gray);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(to right, var(--cv-violet), var(--cv-blue));
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
    position: relative;
    text-align: right;
    color: var(--cv-black);
    font-size: 14px;
    padding-right: 5px;
}

.div-65 {
    width: 65%;
}

.div-93 {
    width: 93%;
}

.div-70 {
    width: 70%;
}

.div-88 {
    width: 88%;
}

.experience-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.education-container {
    display: grid;
    grid-template-columns: 160px auto;
    align-items: start;
    gap: 8px;
    margin-top: 20px;
}

.education-details {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.year-layout {
    background-color: var(--transparent-violet);
    border-radius: 20px;
    color: var(--near-white);
    padding: 6px 12px;
    align-self: start;
    width: max-content;
    margin: 0 auto;
}

.experience-container {
    display: grid;
    grid-template-columns: 80px 80px auto;
    align-items: start;
    margin-top: 20px;
}

.two-columns {
    grid-column: span 2;
}

.two-rows {
    grid-row: span 2;
}

.border-div {
    border-right: 2px solid var(--cv-gray);
    line-height: 0.9;
}

.work-name-div {
    padding-left: 8px;
}

.work-list {
    margin: 0;
    padding: 0 0 0 16px;
    list-style-image: url("assets/lists/arrow.png");
}

.linear-gradient-border {
    border-right: 2px solid var(--cv-blue);
    border-image: linear-gradient(to right top, var(--cv-violet), var(--cv-blue), var(--cv-violet)) 1;
}

.languages-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 30px;
}

.language-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--ring-radius);
}

.language-name {
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--cv-violet);
    font-weight: bold;
}

.language-description {
    margin-top: 15px;
    text-align: center;
}

.ring-container {
    position: relative;
    width: var(--ring-radius);
    height: var(--ring-radius);
}

.p-13 { --p: 13; }
.p-75 { --p: 75; }
.p-98 { --p: 98; }

.progress-ring {
    --v:calc( ((18/5) * var(--p) - 90)*1deg);

    width: var(--ring-radius);
    height: var(--ring-radius);
    display: inline-block;
    border-radius: 50%;
    padding: 30px;
    background:
            linear-gradient(var(--v), var(--cv-gray)     50%, transparent 0) 0/min(100%,(50 - var(--p))*100%),
            linear-gradient(var(--v), transparent 50%, var(--cv-blue)        0) 0/min(100%,(var(--p) - 50)*100%),
            linear-gradient(to right, var(--cv-gray) 50%, var(--cv-blue) 0);
    mask:
            linear-gradient(to right, white, white) content-box,
            linear-gradient(to right, white, white);
    mask-composite: exclude;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cv-gray);
    font-size: 36px;
    font-weight: bold;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.scroll-top-image {
    width: 40px;
    height: 40px;
}