:root {
    --cv-black: #0a0516;
    --cv-blue: #1e5da5;
    --cv-violet: #5c4380;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: gray;
    min-height: 100vh;
    margin: 0; padding: 0;
}

.bold-text {
    font-weight: bold;
}

.for_surname {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
    color: var(--cv-blue);
}

.for_name {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 30px 0;
    color: var(--cv-violet);
}

.for_position {
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}


.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    background: var(--cv-black) url(/assets/img/bg-stars.png) fixed calc(50%) 0
}

.footer-center-div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.cv-footer {
    box-shadow: 0 -15px 20px -6px var(--cv-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
    margin-top: 24px;
}

.cv-header {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.cv-main {
    display: flex;
    align-items: center;
}

.main-section {
    border: 2px solid var(--cv-blue);
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
}

.main-section-label {
    background-color: var(--cv-violet);
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.label-background {
    background-color: var(--cv-violet);
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
}

.left-section {
    width: 70%;
}

.right-section {
    width: 30%;
}

.github-image {
    width: 30px;
    height: 30px;
}

.rs-image {
    height: 60px;
}

.cv-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -5px 5px 10px 5px var(--cv-blue),
    5px -5px 10px 5px var(--cv-violet);
}